@import url("_grid.css");
@import url("_normailize.css");


@mixin slide($name, $bgcolor, $textcolor, $linkcolor) {
  #{$name} {
    background-color: $bgcolor;
    color: $textcolor;
  }
  #{$name} h1 {
    font-size: 3.8em;
    letter-spacing: -3px;
    line-height: 0px;
    font-weight: 700;
  }
  #{$name} a:link {
    color: $linkcolor;
  }
  #{$name} a:visited {
    color: desaturate($linkcolor, 50);
  }
  #{$name} a:hover {
    color: saturate($linkcolor, 50);
  }
}

@mixin word-wrap() {
  @media screen and (min-width: 641px) {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

/* Global */

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  background-color:black;
}
img {
  max-width: 100%;
}

/*.container {
  background-color: black;
}*/

.fa:link, .fa:visited {
  color: #FD6804;
  text-decoration: none;
}

 a:link, a:visited {
  color: #1B7E10;
  text-decoration: none;
}
.fa:hover, a:hover {
  color: #bde2df;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.btn, input[type=submit] {
  border: 0;
  border-bottom: 10px;
  background: #5786c1;
  color: white;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  /* needed for anchors */
  position: relative;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
}
.btn:hover, .btn:focus, .btn.hover, .btn.focus, input[type=submit]:hover, input[type=submit]:focus, input[type=submit].hover, input[type=submit].focus {
  transform: translate(2px, 2px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae;
}
.btn:active, .btn.active, input[type=submit]:active, input[type=submit].active {
  transform: translate(4px, 4px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae;
}

.fa {
  margin:5px;
}

#stefano {
  max-width:100%;
  max-height:100%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  overflow:hidden;
  margin-right: 50px
}

.center {
  margin: auto;
  text-align: center;
}

/* General Slides */

.slide {
  background-attachment: fixed;
  width:100%;
  height:auto;
  position: relative;
  padding:140px 0;
  @include word-wrap();
}

/* Intro slide */

#intro {
  background-color:#ffffff;
  background-image: url("../images/hi-there.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
#intro h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  font-weight: 700;
  margin-left: 50px
}
#intro h2 {
  font-size: 2em;
  line-height: 0px;
  padding-bottom:20px;
  font-weight: 400;
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* Projects slide */

#projects {
  background: #d2dae8 url('../images/projects.jpg');
  color:#d7d0c1;
  background-repeat: no-repeat;
  background-size: cover;
}
#projects h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color: #FF8C00;
  font-weight: 700;
}


/* Mulitset slide */

#MS {
  background-color: teal;
}

/* BreakOut slide */

#BO {
  background-color: violet;
}

/* Pong slide */

#pong {
  background-color: brown;
}

/*ReliOx*/

#ReliOx {
  background-color: goldenrod;
}

/* Contact */

#contact {
  background-color: #9bafbf;
  color: #ffffff;
}
#contact a:link,
#contact a:visited {
  color: #ffffff
}
#contact a:hover {
  color: #525252;
}

#copywright {
  text-align: center;
}

/* Computer */
.grid_1 { width: 6.5%; }
.grid_2 { width: 15%; }
.grid_3 { width: 23.5%; }
.grid_4 { width: 32%; }
.grid_5 { width: 40.5%; }
.grid_6 { width: 49%; }
.grid_7 { width: 57.5%; }
.grid_8 { width: 66%; }
.grid_9 { width: 74.5%; }
.grid_10 { width: 83%; }
.grid_11 { width: 91.5%; }
.grid_12 { width: 100%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin: 0 2% 1% 0;
  float: left;
  display: block;
}

.alpha{margin-left:0;}
.omega{margin-right:0;}

.container{
  width: 90%; /*width: 1000px;*/
  max-width: 1000px;
  margin: auto;
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}




/* Mobile */
@media screen and (max-width : 640px) {

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width:100%;
  }

}

@media screen and (max-width: 1024px) {
  #intro h1,
  #intro h2,
  #projects h1,
  #projects h2,
  #MS h1,
  #MS h2,
  #BO h1,
  #BO h2,
  #pong h1,
  #pong h2,
  #ReliOx h1,
  #ReliOX h2,
  #contact h1,
  #contact h2
  {
    line-height: 1em;
  }
}


/* Mobile */
@media screen and (max-width: 640px) {

  #contact .grid_4.omega {
    margin: 0 2% 5% 0;
  }

  .slide {
    background-attachment: fixed;
    width:100%;
    position: relative;
    padding:150px 0;
  }

  #stefano {
    display:inherit;
    max-width:100%;
    max-height:100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  #intro h1,
  #intro h2,
  #projects h1,
  #projects h2,
  #MS h1,
  #MS h2,
  #BO h1,
  #BO h2,
  #pong h1,
  #pong h2,
  #ReliOx h1,
  #ReliOX h2,
  #contact h1,
  #contact h2 {
    line-height: 1em;
  }

}
